# Файл конфігурації з секретними даними
.env

# Папка для завантажених медіафайлів
downloads/

# Папки віртуального середовища Python
venv/
.venv/
env/

# Кеш та компільовані файли Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Файли IDE та редакторів коду
.vscode/
.idea/

# Системні файли macOS та Windows
.DS_Store
Thumbs.db